# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/

# Docker-related
docker-compose.yml
Dockerfile

# Git files
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

docker-compose.yml
Dockerfile
LICENSE
nginx.conf
README.md
